<div class="wrapper">

    <div class="section-card">
        <app-logo-animation class="logoAnimation"></app-logo-animation>

        <div class="login">
            <input placeholder="First Name" type="text">
            <input placeholder="Last Name" type="text">
            <input placeholder="E-Mail Name" type="text">

            <button routerLink="/">Login</button>

            <div class="guestLogin">
                <input type="checkbox" id="guestlogin" name="guestlogin">
                <div>Login as a Guest</div>
            </div>
        </div>
    </div>

    <app-gradient-animation class="bg-gradient"></app-gradient-animation>

</div>