:host {
    position: relative;
    display: block;
    margin: 1rem;
    margin-left: 18px;


    &::after {
        content: "[ kanban & more ]";
        color: white;
        position: absolute;
        bottom: 10px;
        letter-spacing: 3px;
        font-weight: var(--font-light);
        font-size: 12px!important;
        transform: translateX(38px) translateY(10px);
        filter: opacity(0.2);
        animation: entryOpacity 1.2s  ease-in-out forwards;
    }
}
// easy entry animation
@keyframes entryOpacity {
    from {
        filter: opacity(0.1);
    }
    to {
        filter: opacity(1);
    }
}

.logo-wrapper {
    width: 100%;
    font-size: 78px!important;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.character {
    color: rgba(236, 232, 232, 0.644) !important;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::after {
        content: "";
        position: absolute;
        z-index: 9;
        top: 56px;
        width: 100px;
        height: 0.02em;
        margin-left: 4px;
        border-radius: 2px;
        background: rgb(222, 228, 19);
        background: linear-gradient(
            73deg,
            rgba(222, 228, 19, 0.9094231442577031) 10%,
            rgba(226, 167, 85, 1) 48%,
            rgba(237, 21, 198, 1) 100%,
            rgba(99, 227, 209, 1) 100%,
            rgba(233, 62, 199, 1) 100%
        );

        animation: entryStroke 2.7s ease-in-out forwards;
    }

    @keyframes entryStroke {
        0% {
            left: 0;
            right: unset;
            height: 0.05em;
            width: 0%;
            filter: opacity(0.1);
            transform: translateX(0px);
        }
        50% {
            left: 0;
            right: unset;
            height: 6px;
            width: 100%;
            filter: opacity(1);
            transform: translateX(20px);
        }
        100% {
            left: 0;
            right: 0;
            height: 0.05em;
            width: 0%;
            filter: opacity(0);
            transform: translateX(220px);
        }
    }
}

.j {
    z-index: 10;
    transform: translateX(65%);
    translate: all ease-in-out;
    animation: Janimate 3.5s ease-in-out forwards;
    animation-delay: 0.25s;
    filter: opacity(0);

    @keyframes Janimate {
        0% {
            transform: translateX(65%);
            filter: opacity(0.1);
        }
        50% {
            transform: translateX(-2%);
            filter: opacity(1);
        }
        75% {
            transform: translateX(30%);
            filter: opacity(1);
        }
        100% {
            transform: translateX(24%);
            filter: opacity(1);
        }
    }
}

.o {
    z-index: 8;
    translate: all ease-in-out;
    animation: oToLeft 1.5s ease-in-out forwards;
    animation-delay: 0.6s;
    filter: opacity(0);

    @keyframes oToLeft {
        0% {
            transform: translateX(0%);
            filter: opacity(0.1);
        }
        60% {
            transform: translateX(-18%);
            filter: opacity(1);
        }
        100% {
            transform: translateX(-12%);
            filter: opacity(1);
        }
    }
}

.i {
    z-index: 10;
    translate: all ease-in-out;
    animation: iToLeft 2s ease-in-out forwards;
    animation-delay: 0.7s;
    filter: opacity(0);

    @keyframes iToLeft {
        0% {
            transform: translateX(0%);
            filter: opacity(0.1);
        }
        60% {
            transform: translateX(-86%);
            filter: opacity(1);
        }
        100% {
            transform: translateX(-44%);
            filter: opacity(1);
        }
    }
}

.n {
    position: relative;
    z-index: 8;
    translate: all ease-in-out;
    animation: nToLeft 3s ease-in-out forwards;
    animation-delay: 0.9s;
    filter: opacity(0);

    @keyframes nToLeft {
        0% {
            transform: translateX(0%);
            filter: opacity(0.1);
        }
        40% {
            transform: translateX(-48%);
            filter: opacity(1);
        }
        80% {
            transform: translateX(-18%);
            filter: opacity(1);
        }
        100% {
            transform: translateX(-22%);
            filter: opacity(1);
        }
    }
}

.plus {
    position: relative;
    filter: opacity(0);
    z-index: 9;
    width: 38px;
    height: 6px;
    border-radius: 2px;
    background-color: rgba(240, 104, 188, 0.822);
    animation: horizontalLine 1s ease-in-out forwards;
    animation-delay: 0.2s;

    &:after {
        position: absolute;
        filter: opacity(0);
        top: -16px;
        right: 16px;
        content: "";
        height: 38px;
        width: 6px;
        border-radius: 2px;
        background-color: rgba(248, 232, 0, 0.87);
        animation: verticalLine 0.65s ease-in-out forwards;
        animation-delay: 1.2s;
    }

    @keyframes verticalLine {
        0% {
            filter: opacity(0.3);
            height: 0px;
        }
        100% {
            height: 38px;
            filter: opacity(1);
        }
    }

    @keyframes horizontalLine {
        0% {
            filter: opacity(0);
            height: 0px;
        }
        100% {
            height: 6px;
            filter: opacity(1);
        }
    }
}


