:host{
    position: relative;
    display: block;
    margin: 1rem;

    &::after{
        content: '[ kanban & more ]'; 
        color: white;
        position: absolute;
        bottom: 18px;
        letter-spacing: 3px;
        
        font-weight: var(--font-light);
        transform: translateX(28%) translateY(10px);
    }
}

.logo-wrapper {
    width: 100%;
    font-size: 100px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.character{
    color: rgba(236, 232, 232, 0.644)!important;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::after {
        content: "";
        position: absolute;
        z-index: 9;
        top: 57px;
        width: 300px;
        height: 3px;
        margin-left: 4px;
        border-radius: 2px;
        background-color: rgba(199, 0, 123, 0.87);
        animation: entryStroke 3s ease-in-out forwards;

    }

    @keyframes entryStroke {
        0% {
            left: 0;
            right: unset; 
            height: 1px;
            width: 0%;
            filter: opacity(0.4);
        }
        50% {
            left: 0;
            right: 0;
            height: 6px;
            width: 100%;
            top: 57px;
            filter: opacity(1);
        }
        51% {
            left: unset;
            right: 0;
            height: 6px;
            width: 100%;
            top: 57px;
            filter: opacity(0.8);
        }
        100% {
            left: unset;
            right: 0;
            height: 4px;
            width: 38px;
            top: 57px;
            filter: opacity(0);
        }
    }
}

.j {
    z-index: 10;
    transform: translateX(65%);
    translate: all ease-in-out;
    animation: Janimate 4s ease-in-out forwards;
    animation-delay: 1.4s;


    @keyframes Janimate {
        0% {
            transform: translateX(65%);
        }
        50% {
            transform: translateX(-2%);
        }
        100% {
            transform: translateX(30%);
        }
    }
}



.o {
    z-index: 8;
    // transform: translateX(65%);
    translate: all ease-in-out;
    animation: oToLeft 4s ease-in-out forwards;
    animation-delay: 3.2s;

    @keyframes oToLeft {
        0% {
            transform: translateX(0%);
        }
        70% {
            transform: translateX(-18%);
        }
        100% {
            transform: translateX(-12%);
        }
    }
}

.i {
    z-index: 10;
    translate: all ease-in-out;
    animation: iToLeft 4s ease-in-out forwards;
    animation-delay: 3.8s;

    @keyframes iToLeft {
        0% {
            transform: translateX(0%);
        }
        50% {
            transform: translateX(-55%);
        }
        100% {
            transform: translateX(-44%);
        }
    }
}

.n {
    position: relative;
    z-index: 8;
    translate: all ease-in-out;
    animation: nToLeft 4s ease-in-out forwards;
    animation-delay: 4.2s;

    @keyframes nToLeft {
        0% {
            transform: translateX(0%);
        }
        50% {
            transform: translateX(-38%);
        }
        100% {
            transform: translateX(-24%);
        }
    }
}

.plus {
    position: relative;
    filter: opacity(0);
    z-index: 9;
    width: 38px;
    height: 6px;
    border-radius: 2px;
    background-color: rgba(240, 104, 188, 0.822);
    animation: horizontalLine 1s ease-in-out forwards;
    animation-delay: 1.5s;


    &:after {
        position: absolute;
        filter: opacity(0);
        top: -16px;
        right: 16px;
        content: '';
        height: 38px;
        width: 6px; 
        border-radius: 2px;
        background-color: rgba(248, 232, 0, 0.87);
        animation: verticalLine 1s ease-in-out forwards;
        animation-delay: 2.3s;
    }

    @keyframes verticalLine {
        0% {
            filter: opacity(0);
            height: 0px;
        }
        100% {
            height: 38px;
            filter: opacity(1);
        }
    }

    @keyframes horizontalLine {
        0% {
            filter: opacity(0.3);
            height: 0px;
        }
        100% {
            height: 6px;
            filter: opacity(1);
        }
    }
}



