<!-- position absolute -->
<div class="border-bottom"></div>


<div class="sectionLeft">
    <div routerLinkActive="concave-btn"
        class="home">
        <a routerLink="/home">
            <img class="icon" src="assets/img/Logo.svg">
            <span class="tooltiptext">HOME</span>
        </a>
    </div>

    <a 
        routerLink="/backlog"
        routerLinkActive="concave-btn">
        BACKLOG 
    </a>

    <a 
        routerLink="/board"
        routerLinkActive="concave-btn">
        BOARDS
    </a>

</div>

<div class="sectionRight">
    <a routerLink="/imprint" routerLinkActive="concave-btn">IMPRINT</a>

    <a routerLink="/logout" routerLinkActive="concave-btn" class="logout">
        <div>LOGOUT</div>
        <div><img class="icon" src="assets/img/logout.png" alt="logout"></div>
    </a>
</div>