<!-- position absolute -->
<div class="border-bottom"></div>

<div class="sectionLeft">
    <!-- User Image -->
    <div class="user">
        <img (mouseenter)="openSettings = true" (click)="toggleSettings()" src="assets/img/user.svg" alt="logout">
       
        <div *ngIf="openSettings" class="settingsContainer" (mouseenter)="openSettings = true"
            (mouseleave)="openSettings = false">

            <div class="settingContent">
                <div class="name"> {{ this.authService.currentUser.displayName || 'Guest User' }}</div>
                <div class="logout">
                    <a routerLink="/logout">Logout</a>
                    <!-- <img (click)="onLogout()" class="icon" src="assets/img/logout.png" alt="logout"> -->
                </div>
                <div>
                    <a routerLink="/imprint">Imprint</a>
                </div>
            </div>

        </div>
    </div>


    <a routerLink="/" routerLinkActive="concave-btn" [routerLinkActiveOptions]="{ exact: true }">
        DASHBOARD
    </a>


    <a routerLink="/backlog" routerLinkActive="concave-btn">
        BACKLOG
    </a>

    <a routerLink="/board" routerLinkActive="concave-btn">
        BOARDS
    </a>

</div>

<div class="sectionRight">

    <!-- INPUTFIELD NEW BOARD  -->

    <!-- <div class="container concave">
        <form>
            <input [(ngModel)]="searchInput" name="searchInput" type="search" placeholder="Search...">
            <button type="submit">Search</button>
          </form>
    </div> -->


    <div
        (click)="expandInputfield = true"
        [class.concave]="expandInputfield"
        *ngIf="router.url.includes('board')"
        class="container"
        >
        <form>
        <input 
            [(ngModel)]="newBoardTitle" 
            name="newBoardTitle"
            placeholder="+ NEW BOARD"
            [class.expandAnimation]="expandInputfield"
            (blur)="expandInputfield=false"
            type="search"
            minlength="2">
        <button 
            type="submit" 
            [class.expandAnimation]="expandInputfield"
            (click)="handleNewBoardAdding(); stopPropagation($event)" >
            Add
        </button>
    </form>
    </div>

    <div 
        *ngIf="router.url.includes('backlog') || router.url.includes('board')"
        (click)="newTaskPopUp()" 
        class="plus-wrapper">
        <span class="plus"></span>
    </div>

</div>
