// MATERIAL DESIGN ELEMENTS
  
::ng-deep .mat-tooltip {
    text-align: center!important;
    line-height: 1.35em!important;
  }
  
  mat-option {
    background-color: lightgrey;
  
    &:hover {
      background-color: white !important;
    }
  }
  
  
  .mat-form-field-infix {
    border-top: 0 solid transparent !important;
  }
  
  .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
    border-radius: 12px;
    border: 1px solid black;
  }
  
  // urgency
  .mat-button-toggle {
    background-color: white;
  
    &:hover {
      background-color: grey;
      color: white !important;
  
      &:focus {
        background-color: lightgrey;
      }
    }
  }
  
  .mat-calendar {
    background-color: var(--primary-dark) !important;
  }
  
  .mat-select-panel .mat-optgroup-label,
  .mat-select-panel .mat-option {
    background-color: white;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex {
    display: flex;
    align-items: center;
    padding: 0 !important;
  }
  
  .mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
    border: unset;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top: grey 0.04em solid;
    border-right: grey 0.04em solid;
    border-bottom: grey 0.04em solid;
    height: 42px !important;
  }
  
  .mat-form-field-infix {
    padding: 0 0 !important;
  }
  
  .mat-form-field-appearance-fill .mat-form-field-flex {
    display: flex;
    align-items: flex-end;
  }
  
  .mat-form-field-wrapper {
    padding-bottom: 0px !important;
  }
  
  .mat-form-field-underline {
    width: 0% !important;
  }
  
  mat-button-toggle:hover {
    background-color: red;
  }
  