.ticketWrap {
    height: 150px;
    width: 260px;
    display: flex;
    align-items: center;
    gap: 6px;
    background-color: white;
    border-radius: 12px 12px 12px 12px;
}

.singleTicket {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1;
    height: 100%;
    padding: 12px;
    border-radius: 12px 2px 2px 12px;
    background-color: white;
    cursor: pointer;
    overflow: auto;
    box-shadow: rgb(0 0 0 / 12%) 1px 1px 6px;
}

.first-row {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    .dueTo {
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: var(--font-small);
        color: rgba(128, 128, 128, 0.759);

        img {
            width: 18px;
            height: 18px;
            margin-right: 6px;
            filter: invert(19%) sepia(83%) saturate(707%) hue-rotate(248deg) brightness(47%) contrast(92%);
        }
    }
}

.title {
    overflow-wrap: break-word;
    font-weight: 600;
    margin-top: 2px;
}

.secondRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .urgency {
        display: flex;
        justify-content: center;
        align-items: center;
    
        padding: 2px 8px 2px 8px;
        height: 14px;
        max-width: max-content;
        border-radius: 3px;
        margin-top: 6px;
        margin-bottom: 4px;
        font-size: 12px;
        color: var(--primary-light);

        // urgency Colors
    }
    
    .low{
        background-color:rgba(239, 204, 66, 0.767);
    }
    .medium{
        background: rgb(245,228,7);
        background: linear-gradient(302deg, rgba(245,228,7,0.578890931372549) 7%, rgba(241,49,190,0.528470763305322) 74%);
    }
    .urgent{
        background-color:rgba(233, 0, 183, 0.393);
    }
}

app-user-avatar {
    width: 22px!important;
    height: 22px!important;
    font-size: 0.8em!important;
}


// Progressbar

.progress {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-small);
    gap: 8px;
    margin-bottom: 4px;
}

.barWrapper {
    width: 100%;
    flex: 1;
    height: 8px;
    border-radius: 3px;
    background-color: rgba(211, 211, 211, 0.557);
    border-radius: 3px;

    // percent progress
    .progressBar{
        height: 8px;
        background-color: var(--accent1);
        border-radius: 3px;
    }
}

.thirdRow {
    width: 100%;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(211, 211, 211, 0.689);
    padding-top: 8px;
    font-size: var(--font-small);

    
}

.category {
    writing-mode: vertical-lr;
    color: rgb(200, 192, 192);
    font-size: 12px;
    padding: 4px;
}

// ************** ICONS **************

.icon-pin {
    display: none;
    position: absolute;
    right: -8px;
    top: 0px;
    width: 18px;
    height: 18px;
    filter: opacity(0.3) drop-shadow(1px 3px 2px rgba(146, 140, 140, 0.664));
    transform: rotateZ(33deg);
    transition: all 300ms ease-in-out;
    z-index: 2;
    cursor: pointer;

    &:hover {
        filter: opacity(0.8);
        transform: rotateZ(0deg);
    }

    &.pinRotation {
        transform: rotateZ(0deg);
        filter: opacity(0.8);
    }
}

// this icon is not effected by hover! --> stays in position

.icon-pin-fixed {
    position: absolute;
    right: -8px;
    top: 0px;
    width: 18px;
    height: 18px;
    z-index: 0;
    filter: opacity(0);
    transform: rotateZ(33deg);
    transition: all 300ms ease-in-out;

    &.pinRotation {
        transform: rotateZ(0deg);
        filter: opacity(0.8);
    }
}

.icon-delete {
    position: absolute;
    right: 16px;
    top: 0px;
    width: 16px;
    height: 16px;
    filter: opacity(0.3);
    display: none;
    cursor: pointer;

    &:hover {
        filter: opacity(0.8);
    }
}

.icon-edit {
    position: absolute;
    right: 40px;
    top: 0px;
    width: 16px;
    height: 16px;
    display: none;
    filter: opacity(0.3);
    cursor: pointer;

    &:hover {
        filter: opacity(0.8);
    }
}

.ticketWrap {
    :hover .icon-pin {
        display: flex;
    }

    :hover .icon-delete {
        display: block;
    }

    :hover .icon-edit {
        display: block;
    }
}

// NOT IN USE ATM
.description {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-height: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
    word-break: break-all;
}

// @keyframes expandTextBox {
//     from {
//         max-height: 0px;
//         overflow-y: hidden;
//     }
//     to{
//         max-height: 200px;
//         overflow-y: auto;
//     }
// }
