<div class="ticketWrap">
    <!-- (click)="expandCard(task)" -->
    <div class="singleTicket">

        <div class="first-row">
            <div>
                <div class="title">{{ task.title }}</div>
                <div class="urgency">{{ task.urgency }}</div>
            </div>

                <img 
                class="icon-pin" 
                src="assets/img/pin-filled.png" 
                [class.pinRotation]="task.isPinnedToBoard"
                (click)="fixTask(task, $event)">

                <img 
                class="icon-pin-fixed" 
                src="assets/img/pin-filled.png" 
                [class.pinRotation]="task.isPinnedToBoard"
                *ngIf="task.isPinnedToBoard">
                
        </div>


        <div class="description" [class.animateExpansion]="detailsRequested">
            {{ task.description }}
        </div>


        <div class="information">
            <div class="user"></div>
            <div>{{ task.dueTo }}</div>
        </div>
    </div>

    <!-- category -->
    <div class="category">
        {{ task.category }}
    </div>
</div>