<div class="body-backlog">

    <div class="filterOptions">
        <span>Search for:</span>
        <input type="filter">
    </div>

    <div class="wrapper" *ngFor="let task of db.backlogtasks; index as i">
        <div class="taskContainer" >
            <div class="user margin-right">
                <img src="assets/img/user.png">
            </div>
            <div class="text margin-right">
                <div class="title">{{ task.title }}</div>
                <div class="description">{{ task.description }}</div>
            </div>
            <div class="information margin-right">
                <div class="urgency">{{ task.urgency }}</div>
                <div class="date">{{ task.dueTo }}</div>
            </div>
            <div class="buttons">
                <button (click)="moveToBoardToDo(task.customIdName)">Add</button>
                <button (click)="deleteTask(task.customIdName)">delete</button>
                <button (click)="editTask(task.customIdName)" >Edit</button>
            </div>
        </div>
        <div class="category">
            {{ task.category }}
        </div>
    </div>






    <div *ngIf="backlogEmpty == true" class="emptyBacklog">
        Boring times ... No tasks in the Backlog.
    </div>

</div>