:host{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: var(--maxwidth);
    height: 100%;
    max-height: 100%;
    margin: auto;
    padding: var(--paddingPageTopBottom) var(--paddingPage);
}

.body-backlog{
    overflow: auto;
}

.filterOptions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    padding: 20px 0px;

    input {
        border: unset;
        background-color:unset;
        border-radius: 6px;
        height: 36px;
 
    }
}

.sortBy{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img{
        height: 16px;
        width: 16px;
        margin-right: 10px;
        transition: all 200ms ease-in-out;

        &:hover{
            filter: opacity(0.5);
        }
    }
}

.emptyBacklog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 12px;
    text-align: center;

    img{
        width: 200px;
        filter: opacity(0.6);
        margin-bottom: 40px;
    }
}

.wrapper {
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 12px 12px 12px;
    margin-bottom: 18px;
}

.taskContainer {
    flex: 1;
    background-color: rgb(255, 255, 255);
    border-radius: 12px 2px 2px 12px;
    box-shadow: rgb(0 0 0 / 12%) 1px 1px 6px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 32px;
    padding: 12px 26px;
    min-height: 124px;

    // user image
    img {  
        border-radius: 8px;
        width: 45px;
        height: 45px;
    }
}

.margin-right {
    margin-right: 1em;
}

.category {
    writing-mode: vertical-lr;
    padding: 8px;
    text-align: center;
    color: rgb(200, 192, 192);
    font-size: 12px;
}

.information {
    .urgency {
        padding: 0px 8px 1px 8px;
        background-color:var(--urgency-low);
        text-align: center;
        border-radius: 6px;
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 12px;
    }
    .date {
        color: lightgrey;
        color: rgb(158, 157, 157);
        }
}



.text {
    flex: 1;

    .title {
        font-weight: 700;
        font-size: 18px;
    }

    .description {
        color: rgb(158, 157, 157);
    }
}

.buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
        background-color: white;
        border: unset;
        box-shadow: rgb(0 0 0 / 12%) 1px 1px 6px;
        padding: 4px;
        border-radius: 6px;
        cursor: pointer;
    }
}

.hide{
    display: none;
}
