:host {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background-color: var(--bg);
    background: linear-gradient(180deg, rgba(111,124,159,0.3660057773109243) 3%, rgba(255,255,255,1) 93%);
        font-family: "Open Sans", sans-serif;
    padding: 1.5rem var(--marginPage) 4rem var(--marginPage);
}

.main {
    position: relative;
    flex: 1;
    margin: 1.5rem var(--marginPage) 0.5rem var(--marginPage);
    width: 100%;
    max-width: 1400px;
    overflow: auto;
    border-radius: 12px;
}

.img-plus {
    font-size: 54px;
    text-align: center;
    color: rgb(190, 182, 182);
    position: absolute;
    right: 15px;
    bottom: 42px;
    border-radius: 50%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    height: 65px;
    width: 64px;
    z-index: 2;
}
