
:host{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: var(--paddingPageTopBottom) var(--paddingPage);
}

h1{
    margin-bottom: 24px;
}

p{
    margin-top: 25px; 
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.title{
    margin-bottom: 0rem!important;
}

.mt{
    margin-top: 25px;
}

.padding-bottom{
    padding-bottom: 40px;
}