
:host{
    height: 100%;
}
.body-imprint{
    background-color: rgb(255, 255, 255);
    min-height: 100%;
    padding: 30px;
}

h1{
    margin-bottom: 24px;
}
p{
    margin-top: 25px; 
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.title{
    margin-bottom: 0rem!important;
}

.mt{
    margin-top: 25px;
}