<h1 class="title">Imprint</h1>


    <i>According to § 5 TMG</i><br>
    <p>
    Vilia Zeisig<br>
    Sadowastrasse 5<br>
    10318 Berlin<br>
    </p>
<p>
    The content and works on these pages created by the site operator are subject to the German copyright. The
    duplication, editing, distribution and any kind of Utilization beyond the limits of copyright require the written
    consent of the respective author or creator. Downloads and copies of this page are only for private, non-commercial
    use permitted. Insofar as the content on this page is not provided by the operator were created, the copyrights of
    third parties are observed. In particular, third-party content marked as such. Should you nevertheless become aware
    of a copyright infringement we ask that you inform us accordingly. Upon notification of legal violations we will
    remove such content immediately.<br>
</p>

    <h1>Data Protection</h1>
<p>
    Our website can usually be used without providing any personal data. Insofar as personal data (e.g. name, address or
    e-mail addresses) is collected on our website, this is always done on a voluntary basis as far as possible. This
    data will not be passed on to third parties without your express consent. We would like to point out that data
    transmission on the Internet (e.g. when communicating by e-mail) can have security gaps.<br>
    A complete protection of the data against access by third parties is not possible. The use of contact data published as part of the imprint
    obligation by third parties to send unsolicited advertising and information material is hereby expressly prohibited.
    The site operators expressly reserve the right to take legal action in the event of unsolicited advertising being
    sent, such as spam e-mails.<br>
<p>
<p>
    <i>Impressum vom Impressum Generator der Kanzlei Hasselbach, Frankfurt</i>
</p>