<div class="wrapper">

    <div class="section-card">

        <div class="login">
            <input placeholder="First Name" type="text">
            <input placeholder="Last Name" type="text">
            <input placeholder="E-Mail Name" type="text">

            <button routerLink="/">Login</button>

            <div class="altLogin">
                <span>Cancel Registration?</span>
                <span>
                    <a routerLink="/signup">Back to Login</a>
                    - or -
                    <a routerLink="/">Enter as Guest</a>
                </span>

            </div>


        </div>
    </div>

    <app-gradient-animation class="bg-gradient"></app-gradient-animation>

</div>