<div class="wrapper">

    <div class="section-card">

        <div class="login">
            <form #form="ngForm" (ngSubmit)="createNewUser(form)">

                <input [(ngModel)]="user.name" required name="userName" placeholder="First Name" type="text">
                <input [(ngModel)]="user.email" required name="userEmail" placeholder="E-Mail Name" type="email">
                <input [(ngModel)]="user.password" required name="userPassword" placeholder="Password" type="password">

                <button [disabled]="!form.valid" type="submit">Create Account</button>

                <div class="altLogin">
                    <span>Cancel Registration?</span>
                    <span>
                        <a routerLink="/login">Back to Login</a>
                        - or -
                        <a routerLink="/">Enter as Guest</a>
                    </span>

                </div>
            </form>
        </div>

    </div>

    <app-gradient-animation class="bg-gradient"></app-gradient-animation>

</div>