<div class="body-board">
       <!-- COLUMN  -->
    <div *ngFor="let board of db.boards; index as i" class="board">
       <!-- COLUMN HEAD -->
        <div class="headColumn" matTooltip="Info about the action"
        [matTooltipPosition]="'above'">
            <input 
                #boardTitle 
                [disabled]="!board.editable"
                

                value={{board.name}} 
                (keyup.enter)="saveBoardTitle(boardTitle.value, board.customIdName, i)"
                (click)="stopPropagation($event)">
                <!-- <app-tooltip #ttTodoTitle  [text]="'No edits. ToDo board is fixed.'"></app-tooltip> -->
            <img    
                *ngIf="board.editable"     
                (click)="saveBoardTitle(boardTitle.value, board.customIdName, i)"
                [class.disabledIcon]="board.name =='ToDo'" 
                class="iconEdit"
                src="assets/img/save.png" >
            <img 
                *ngIf="!board.editable" 
                [class.disabledIcon]="board.name =='ToDo'" 
                (click)="enterEditMode(i)" 
                src="assets/img/edit.png"
                class="iconEdit">
            <img 
                *ngIf="!board.editable" 
                [class.disabledIcon]="board.name =='ToDo'" 
                (click)="deleteBoard(i)"
                src="assets/img/delete.png" 
                class="iconEdit">
        </div>

        <!-- COLUMN BODY WITH TICKETS -->
        <div 
            class="wrapperTickets" 
            id={{board.name}}
            (drop)="drop($event, board.name)"
            (dragover)="allowDrop($event)">

            <!-- SINGLE TICKET (dynamic) Note: customIdName is set from DB Firestore at subscribe -->
            <app-task *ngFor="let task of board.tasks; index as i" id={{task.customIdName}} [task]="task"
                draggable="true" (dragstart)="drag($event)">
            </app-task>

            <!-- EMPTY TASK plaecholder (static) -->
            <div class="ticketWrapPlaceholder" (click)="openTaskPopUp()">
                <div class="singleTicket plaecholderTicket">
                    <div class="rowTwo">
                        <div>
                            <div class="title">New Task</div>
                            <div class="urgency"></div>
                        </div>
                        <div class="user">+</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ALERTS  -->
<div class="alertContainer">

        <div *ngIf="alertStatusON && alerts.duplicateAlert.flag" class="alertbox">
            <img src="assets/img/alertDelete.svg" alt="alert">
            Invalid choice: Title can`t be empty or already existing.
        </div>        
        
        <div *ngIf="alertStatusON && alerts.backlogAlert.flag" class="alertbox">
            <img src="assets/img/alertDelete.svg" alt="alert">
            Backlog Tasks are already sorted to "Backlog" Section. Please choose another title.
        </div>

        <div *ngIf="alertStatusON && alerts.editsProhibited.flag" class="alertbox">
            <img src="assets/img/alertDelete.svg" alt="alert">
            'ToDo' is a fixed board. Edits not permitted. 
        </div>        


        <div *ngIf="alertStatusON && alerts.confirmDeletion.flag" class="alertDelete">
            <img src="assets/img/alertDelete.svg" alt="alert">
            Please confirm deletion. This will include all board tasks.
            <button (click)="confirmDelete()" id="btn-confirm">Confirm</button>
            <button (click)="cancelDelete()" id="btn-cancel" >Cancel</button>
        </div>

</div>


