<div class="body-board">
       <!-- COLUMN  -->
    <div *ngFor="let board of db.boards; index as i" class="board">
       <!-- COLUMN HEAD -->
        <div class="headColumn">
            <input 
                #boardTitle 
                [(ngModel)]="board.name" 
                [disabled]="!board.editable" 
                (click)="stopPropagation($event)">
            <span 
                *ngIf="board.name =='ToDo'" 
                class="showOnHover">
                No title edits. 'ToDo' is a fixed board.
            </span>
            <img    
                *ngIf="board.editable"     
                (click)="saveBoardTitle(board.name, board.customIdName, i)"
                [class.disabledIcon]="board.name =='ToDo'" 
                class="iconEdit"
                src="assets/img/save.png" >
            <img 
                *ngIf="board.editable" 
                [class.disabledIcon]="board.name =='ToDo'" 
                (click)="enterEditMode(i)" 
                src="assets/img/edit.png"
                class="iconEdit">
            <img 
                *ngIf="board.editable" 
                [class.disabledIcon]="board.name =='ToDo'" 
                (click)="deleteBoard(i,$event)"
                src="assets/img/delete.png" 
                class="iconEdit">
        </div>

        <!-- COLUMN BODY WITH TICKETS -->
        <div 
            class="wrapperTickets" 
            id={{board.name}}
            (drop)="drop($event, board.name)"
            (dragover)="allowDrop($event)">

            <!-- SINGLE TICKET (dynamic) Note: customIdName is set from DB Firestore at subscribe -->
            <app-task *ngFor="let task of board.tasks; index as i" id={{task.customIdName}} [task]="task"
                draggable="true" (dragstart)="drag($event)">
            </app-task>

            <!-- EMPTY TASK plaecholder (static) -->
            <div class="ticketWrapPlaceholder" (click)="openTaskPopUp()">
                <div class="singleTicket plaecholderTicket">
                    <div class="rowTwo">
                        <div>
                            <div class="title">New Task</div>
                            <div class="urgency"></div>
                        </div>
                        <div class="user">+</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ALERTS  -->
<div class="alertContainer">
    <div class="alerts">
        <div *ngIf="doublicateAlert && !deleteBoardAlert" class="alertbox">
            <img src="assets/img/alertDelete.svg" alt="alert">
            Invalid choice: Title can`t be empty or already existing.
        </div>

        <div *ngIf="deleteBoardAlert" class="alertDelete">
            <img src="assets/img/alertDelete.svg" alt="alert">
            Please confirm deletion. This will include all board tasks.
            <button (click)="confirmDelete()" id="btn-confirm">Confirm</button>
            <button (click)="deleteBoardAlert = false" id="btn-cancel" >Cancel</button>
        </div>
    </div>
</div>


