.body-board {
    height: 100%;
    max-height: 100%;
    padding: 30px 0px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.blurOverlay{
    position: absolute;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    filter: blur(10px);
    z-index: -1;
}

.board {
    // border: 1px solid black;
    width: 250px;
    height: 100%;
    margin-bottom: 24px;

    .headColumn {
        display: flex;
        justify-content: space-between;
        padding: 8px 0px 20px 0px;
        font-weight: bold;
    }

    .columnTickets {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 24px;
    }
}

.ticketWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    background-color: white;
    border-radius: 12px 12px 12px 12px;
}
.singleTicket {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    border-radius: 12px 2px 2px 12px;
    background-color: white;
    max-height: 180px;
    overflow: auto;
    box-shadow: rgb(0 0 0 / 12%) 1px 1px 6px;

    .title {
        font-weight: bold;
    }
    .urgency {
        text-align: center;
        padding: 0px 8px 1px 8px;
        background-color: rgb(236, 172, 54);
        border-radius: 6px;
        margin-top: 4px;
        margin-bottom: 4px;
        font-size: 12px;
        color: white;
    }
}

.information {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 12px;
    color: grey;

    .user {
        width: 30px;
        height: 30px;
        border-radius: 6px;
        background-color: purple;
    }
}

.category {
    writing-mode: vertical-lr;
    color: rgb(200, 192, 192);
    font-size: 12px;
    padding: 4px;
}

.ticketWrapPlaceholder {
    // background-color: rgba(255, 255, 255, 0.513);
    border-radius: 12px 12px 12px 12px !important;
    border: 3px dashed white;
}

.plaecholderTicket {
    background-color: unset;
    border-radius: 12px 12px 12px 12px !important;
    box-shadow: unset;
    .title,
    .date {
        color: rgb(161, 159, 159)!important;
    }
    .user {
        background-color: rgba(211, 211, 211, 0.493) !important;
        font-size: 18px;
        color: rgb(161, 159, 159)!important;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}
