<div class="addNewBoard">
    <button (click)="addNewBoard()"> New Board</button>
    <input [(ngModel)]="newBoardName" type="text">
</div>

<div [class.blurOverlay]="taskservice.taskPopupOpen" class="body-board">

    <div *ngFor="let board of boards; index as i" class="board">

        <!-- column header -->
        <div class="headColumn">
            <input #columnTitle [(ngModel)]="board.name" disabled>
            <img *ngIf="!editModeTitle" (click)="editTitle()" src="assets/img/edit.png" class="iconEdit">
            <img *ngIf="editModeTitle" (click)="saveNewTitle(board.name, board.customIdName)" src="assets/img/save.png" class="iconEdit">
        </div>

        <div class="wrapperTickets" id="{{board.name}}" (drop)="drop($event, board.name)" (dragover)="allowDrop($event)">
            <!-- SINGLE TASK (dynamic) Note: customIdName is set from DB Firestore at subscribe -->
            <app-task draggable="true" (dragstart)="drag($event)" id="{{task.customIdName}}" [task]="task"
                *ngFor="let task of board.tasks; index as i">
            </app-task>

            <!-- EMPTY TASK plaecholder (static) -->
            <div class="ticketWrapPlaceholder" (click)="openTaskPopUp()">
                <div class="singleTicket plaecholderTicket">
                    <div class="title">New Task</div>
                    <div class="urgency"></div>

                    <div class="information">
                        <div class="user">+</div>
                        <div class="date">Date</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>