:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
    height: max-content;
    max-height: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    background-color:red;
    border-radius: 12px;
}

.demo-inline-calendar-card {
    width: 300px;
  }
.row {
    display: flex;
    // align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-1 {
    flex: 1;
}

.title {
    flex: 1;
    border: 1px black solid;
    background-color: white;
    border-radius: 12px;

    input {
        width: 100%;
        min-height: 100%;
        background-color: transparent;
        border: unset;
        padding: 12px;

        &::placeholder{
            font-size: 16px;
        }
    }
}
// border: 1px solid darkgrey;
.description {
    border-radius: 12px;
    border: 1px black solid;
    background-color: white;

    textarea {
        resize: none;
        height: 100%;
        border: unset;
        width: 100%;
        background-color: transparent;
        padding: 12px;

        &::placeholder {
            font-size: 16px;
        }
    }
}

.urgency {
    width: 100%;
}

.datePicker {
    width: 100%;
    border-radius: 12px;

    .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 4px 4px 0 0;
        padding:0em!important;
    }
}

.button {
    border: 1px solid black;
    border-radius: 12px;
    height: max-content;
    font-size: 16px;
    padding: 8px 84px;
    cursor: pointer;
}

.userImg{
    width: 30px;
    height: 30px; 
    border-radius: 50%;
}
