<div class="sectionOne">
    <div class="user containerLeft">
        <img src="assets/img/user.png" alt="currentUser">
        <div>Vorname, Nachname</div>
    </div>

    <div class="containerRight">
        <div class="card date">
            <div class="number">23</div>
            <div>Januar</div>
        </div>
        <div class="card">
            <div class="number">13</div>
            <div>Done</div>
        </div>

        <div class="card date">
            <div class="number">23</div>
            <div>Januar</div>
        </div>
        <div class="card">
            <div class="number">13</div>
            <div>Done</div>
        </div>
    </div>
</div>

<app-new-task class="taskContainer"></app-new-task>