<div class="body-dashboard flex-column">


    <div class="user flex-row">
        <img src="assets/img/user.png" alt="currentUser">
        <div>Vorname, Nachname</div>
    </div>


    <div class="row-cards flex-row">
        <div class="card date">
            <div class="number">23</div>
            <div>Januar</div>
        </div>
        <div class="card">
            <div class="number">13</div>
            <div>Done</div>
        </div>
        
        <div class="users">
            <div class="number">4</div>
            <div>Team Members</div>
        </div>
    </div>
    
    
    
    
    
    
</div>