:host {
    display: flex;
    justify-content: space-between;
    height: max-content;
    max-height: 100%;
    padding: 8em var(--paddingPage);
    border-radius: 12px;
    font-size: var(--font-normal);
}

h1 {
    position: relative;
    margin-bottom: 24px;

    // pencil stroke
    &:after {
        content: "";
        background-image: url(../../assets/img/stroke.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        filter: opacity(0.4);
        transform: rotateX(34deg) rotateY(-2deg);
        height: 30px;
        width: 210px;
        bottom: -18px;
        left: -6px;
    }
}

//upper part
.sectionOne {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 2em;

    .containerOne {
        position: relative;
        display: flex;
        flex-direction: column;
        width: fit-content;

        // white rectangle LEFT
        // &:before {
        //     content: "";
        //     position: absolute;
        //     background-color: var(--bg-light);
        //     border-radius: 6px;
        //     right: 120%;
        //     height: 40%;
        //     width: 544px;
        //     z-index: -1;
        //     box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px,
        //         rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
        //     border: 0.0625rem solid rgba(228, 235, 241, 0.05);
        //     border-color: #d2ddef !important;
        // }
    }

    .containerTwo {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 1em;
    }
}

.card {
    position: relative;
    width: 300px;
    height: 145px;
    border-radius: 12px;
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .icon {
        position: absolute;
        left: 14px;
        top: 14px;
        width: 34px;
        height: 34px;
    }
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 12px;

    .row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        max-width: 100%;
        border-radius: 6px;

        .row-label {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 92px;
            max-width: 114px;

            div:last-child {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgba(128, 128, 128, 0.137);
                padding: 5px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
        }

        .fullwidth {
            flex: 1;
            height: 12px;
            background-color: rgba(128, 128, 128, 0.137);
            margin-left: 12px;
            border-radius: 6px;

            .bar {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--accent1);
                border-radius: 8px;
                height: 100%;
                font-size: var(--font-small);
                color: var(--primary-light);
            }
        }
    }
}

.nextDueTask {
    position: relative;

    .dueDate {
        font-size: 34px;
    }

    .taskDetails-onhover {
        display: none;
    }

    &:hover .taskDetails-onhover {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 14px;
        border-radius: 12px;
        background-color: white;
        z-index: 3;

        div:first-child {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40%;
            width: 100%;
            border-radius: 8px;
            background-color: rgba(128, 128, 128, 0.137);
        }

        div:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            margin-top: 16px;
            padding-top: 6px;
            height: 40%;
            width: 100%;
            font-size: var(--font-small);
            border-top: 1px solid rgb(190, 190, 190);
        }

        span {
            font-weight: var(--font-bold);
        }
    }
}

.urgentTasks {
    .number {
        font-size: 34px;
    }
}

// New Task Container

.sectionTwo {
    height: 100%;
    width: 50%;
}

app-new-task {
    width: 100%;
    border-radius: 12px;
    margin-top: 12px;
    padding: 64px 34px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-color: #d2ddef !important;

    // big white background
    // &:after {
    //     content: "";
    //     position: absolute;
    //     background-color: var(--bg);
    //     border-radius: 12px;
    //     left: -90px;
    //     right: -50px;
    //     bottom: -12px;
    //     top: 12px;
    //     z-index: -1;
    //     box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    //     border-color: #d2ddef !important;
    // }

    // border element
    // &:before {
    //     content: "";
    //     position: absolute;
    //     border: 1px solid #fe00e5 !important;
    //     filter: opacity(0.3);
    //     border-radius: 12px;
    //     left: -100px;
    //     right: -200px;
    //     bottom: 0px;
    //     top: 0px;
    //     z-index: -1;
    // }
}
