
    <div class="sectionOne">
    
        <div class="user containerOne cardText">
            <h1 class="welcome">Welcome to Join</h1>
            <div>Guest User | Full Access</div>
            <span class="date">{{ currentDate | date }}</span>
        </div>
    
        <div class="containerTwo">
    
            <!-- // new card -->
            <div class="card statistic convex">
                <div class="row">
                    <div class="row-label">
                        <div>
                            Backlog
                        </div>
                        <div class="concave-small">{{ db.backlogtasks.length }}</div>
                    </div>
                    <div class="fullwidth">
                        <div class="bar" [ngStyle]="{'width': width.backlogTasks}">
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="row-label">
                        <div>
                            To-Do`s
                        </div>
                        <div class="concave-small"> {{ db.todoTasks.length }} </div>
                    </div>
                    <div class="fullwidth">
                        <div class="bar" [ngStyle]="{'width': width.toDoTasks}">
                        </div>
                    </div>
                </div>
    
                <div class="row">
                    <div class="row-label">
                        <div>
                            All Tasks
                        </div>
                        <div class="concave-small">{{ db.allTasks.length }}</div>
                    </div>
                    <div class="fullwidth">
                        <div class="bar" [ngStyle]="{'width': width.allTasks}">
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- // new card -->
    
            <div class="card urgentTasks smallCard convex">
                <div class="icon">
                    <div class="icon-wrap ">
                        <img src="assets/img/urgent.svg" alt="urgent">
                    </div>
                </div>
                <div class="info">
                    <div *ngIf="db.urgentTasks.length > 0; else noUrgentTasks">{{ db.urgentTasks.length | number:'2.0'}} Tasks</div>
                    <ng-template #noUrgentTasks >0 Tasks</ng-template>
                    <div>Labelled Urgent</div>
                </div>
            </div>
    
            <!-- // new card -->
    
            <div class="card nextDueTask convex smallCard">
                <div class="icon">
                    <div class="icon-wrap ">
                        <img src="assets/img/nextDue.svg" alt="nextDue">
                    </div>
                </div>
                <div class="info">
                    <div *ngIf="db.nextDueDateTask.length !== 0">{{ (db.nextDueDateTask.dueTo | date: 'dd/MM/yyyy') || 'No Tasks'}} </div>
                    <div *ngIf="db.nextDueDateTask.length == 0">No Deadlines set </div>
                    <div *ngIf="db.nextDueDateTask.length !== 0"> Next Deadline</div>
                </div>
    
                <div class="taskDetails-onhover concave-btn">
                    <div>Task Details:</div>
                    <div><span>On Board:</span> {{ db.nextDueDateTask.board }} </div>
                    <div><span>Category:</span> {{ db.nextDueDateTask.category }} </div>
                    <div *ngIf="db.nextDueDates.length > 1"> +{{ db.nextDueDates.length }}further task(s)</div>
                </div>
            </div>

        
            <div class="cardText announcement">
                <div class="comingSoon">Coming Soon</div>
                <div> Invite Collegues & collaborate.</div>
                <!-- <img src="assets/img/edit.png" alt="shareIcon"> -->
            </div>

        </div>
    </div>
    
    <div class="sectionTwo">
        <div class="newTaskWrapper concave">
            <app-new-task class="taskContainer convex"></app-new-task>
        </div>
    </div>
