:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    max-height: 100%;
    padding: var(--paddingPageTopBottom) var(--paddingPage);
    border-radius: 12px;
    flex-wrap: wrap;
}


//upper part
.sectionOne {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;

    .containerLeft{
        width: 40%;
    }

    .containerRight{
        flex: 1;
        display: flex;
        justify-content: space-between;
    }
}



.user {
    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
}

.card {
    width: 150px;
    height: 150px;
    border-radius: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: rgb(0 0 0 / 12%) 1px 1px 6px;
    // color: white;

    div {
        color: white;
    }
}

.date {
    .number {
        font-size: 30px;
        color: white;
    }
    div {
        color: white;
    }
}



app-new-task {
    width: 100%;
    height:50%;
    // background-color: white;
    border-radius: 12px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
