* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
  color: var(--primary-dark);
}

:root {
  // --bg: linear-gradient(
  //   356deg,
  //   rgba(196, 220, 229, 0.57) 8%,
  //   rgba(193, 162, 216, 0.699) 100%
  // );
  --bg: linear-gradient(45deg, hsla(240, 100%, 98%, 1) 0%, hsla(222, 41%, 92%, 1) 100%);
  --bg-light: #ecf1fb;
  --gradientColors: linear-gradient(
    73deg,
    rgba(222, 228, 19, 0.9094231442577031) 10%,
    rgba(226, 167, 85, 1) 48%,
    rgba(237, 21, 198, 1) 100%,
    rgba(99, 227, 209, 1) 100%,
    rgba(233, 62, 199, 1) 100%
  );
  --primary-light: rgb(255, 255, 255);
  --primary-dark: rgba(22, 4, 54, 0.956);
  --secondary: #27344b;
  --accent1: #e902b3;
  --urgency-low: #f37fd7;  
  --urgency-normal:  #f34ccc;  
  --urgency-urgent:  #e902b3;  

  --hover: rgba(140, 120, 173, 0.956);
  --font-bold: 600;
  --font-xBold: 800;
  --font-light: 200;
  --font-small: 12px;
  --font-normal: 14px;
  --paddingPage: 120px;
  --paddingPageTopBottom: 44px;
  --maxwidth: 1280px;
  --maxwidthMenu: 1460px;
}

.default-btn {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.convex {
  box-shadow: 6px 6px 12px #b8b9be,-6px -6px 12px #fff!important;
}

.concave {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
  border-radius: 6px;
}

// neumorphism styles: https://neumorphic.design/
.concave-btn {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
  border-radius: 6px;
}

// for dashboard card statisic
.concave-small {
  font-weight: var(--font-bold);
  background: linear-gradient(145deg, #ecf1fb, #ecf1fb);
  border-radius: 22%;
  box-shadow: inset 5.71px 5.71px 12px #d4d9e2, inset -5.71px -5.71px 12px #ffffff;
}

.concave-dark{
  background: #5B3380;
border-radius: 15%;
box-shadow: inset 6.91px 6.91px 28px #5B3380, inset -6.91px -6.91px 28px #5B3380;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 32px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg);
}

::placeholder {
  font-size: var(--font-normal) !important;
}

// MATERIAL DESIGN ELEMENTS

mat-option {
  background-color: lightgrey;
  color: green !important;

  &:hover {
    background-color: white !important;
  }
}

// selector background
.mat-form-field-appearance-fill .mat-form-field-flex {
  // background-color: rgb(255, 255, 255);
}

.mat-form-field-infix {
  // padding: 0 0 !important;
  border-top: 0 solid transparent !important;
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  border-radius: 12px;
  border: 1px solid black;
}

// urgency

.mat-button-toggle {
  background-color: white;

  &:hover {
    background-color: grey;
    color: white !important;

    &:focus {
      background-color: lightgrey;
    }
  }
}

.not-empty-select.mat-selected {
  color: green !important;
}

.not-empty-select.mat-selected {
  color: rgb(0, 70, 128) !important;
}

.mat-calendar {
  background-color: var(--primary-dark) !important;
}

.mat-button-wrapper > * {
  color: white !important;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  background-color: white;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  display: flex;
  align-items: center;
  padding: 0!important;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
  border: unset;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top: grey 0.04em solid;
  border-right: grey 0.04em solid;
  border-bottom: grey 0.08em solid;
  height: 42px!important;
}

.mat-form-field-infix {
  padding: 0 0!important;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
  display: flex;
  align-items: flex-end;
}

.mat-form-field-wrapper{
  padding-bottom: 0px!important;
}

.mat-form-field-underline{
  width: 0%!important;
}

mat-button-toggle:hover {
  background-color: red;
}
