* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: "Poppins", sans-serif;
  color: var(--primary-dark);
}



:root {
  // --bg: linear-gradient(
  //   356deg,
  //   rgba(196, 220, 229, 0.57) 8%,
  //   rgba(193, 162, 216, 0.699) 100%
  // );
  --bg: linear-gradient(90deg, hsla(240, 100%, 98%, 1) 0%, hsla(222, 41%, 92%, 1) 100%);
  --bg-light: linear-gradient(45deg, hsla(240, 100%, 98%, 1) 0%, hsla(222, 41%, 92%, 1) 100%);
  --gradientColors: linear-gradient(
    73deg,
    #F5EC07 10%,
    rgba(226, 167, 85, 1) 48%,
    #F55672 100%,
    rgba(99, 227, 209, 1) 100%,
    rgba(233, 62, 199, 1) 100%
  );

  --primary-light: rgb(255, 255, 255);
  --primary-dark: rgba(28, 16, 48, 0.694);
  --secondary: #27344b;
  --accent1: #e902b3;
  --urgency-low: #f37fd7;  
  --urgency-normal:  #f34ccc;  
  --urgency-urgent:  #e902b3;  

  --hover: rgba(140, 120, 173, 0.956);
  --font-bold: 400;
  --font-xbold: 600;
  --font-light: 200;
  --font-small: 12px;
  --font-normal: clamp(0.95rem, 0.17vw + 0.76rem, 0.89rem);
  --paddingPage: 120px;
  --paddingPageTopBottom: 44px;
  --maxwidth: 1280px;
  --maxwidthMenu: 1460px;


  // FLuid Type
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
--font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
--font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
--font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
--font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
--font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

.default-btn {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.convex {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.concave {
  box-shadow: inset 2px 2px 6px #d0d1d7, inset -3px -3px 7px #fff !important;
  border-radius: 8px;
}

// neumorphism styles: https://neumorphic.design/
.concave-btn {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
  border-radius: 6px;
}

// for dashboard card statisic
.concave-small {
  font-weight: var(--font-bold);
  border-radius: 22%;
  background: linear-gradient(145deg, #ecf1fb, #ecf1fb);
  box-shadow: inset 4px 3px 4px #dedfe4, inset -2px -4px 4px #f4f7ff;
}

.concave-dark{
  background: #5B3380;
border-radius: 15%;
box-shadow: inset 6.91px 6.91px 28px #5B3380, inset -6.91px -6.91px 28px #5B3380;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: calc(1.75em + 0.6vw);
}

h3 {
  font-size: calc(1.25em + 0.08vw)!important;
  font-weight: 600;
  color:rgba(140, 120, 173, 0.956)
}

html,
body {
  height: 100%;
  font-size: var(--font-normal);  // min 16px max 22px
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--bg);
}

::placeholder {
  font-size: var(--font-normal) !important;
}

.posRel{
  position: relative;
}

// MATERIAL DESIGN ELEMENTS

mat-option {
  background-color: lightgrey;

  &:hover {
    background-color: white !important;
  }
}

// selector background
.mat-form-field-appearance-fill .mat-form-field-flex {
  // background-color: rgb(255, 255, 255);
}

.mat-form-field-infix {
  // padding: 0 0 !important;
  border-top: 0 solid transparent !important;
}

.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  border-radius: 12px;
  border: 1px solid black;
}

// urgency

.mat-button-toggle {
  background-color: white;

  &:hover {
    background-color: grey;
    color: white !important;

    &:focus {
      background-color: lightgrey;
    }
  }
}

.not-empty-select.mat-selected {
  color: green !important;
}

.not-empty-select.mat-selected {
  color: rgb(0, 70, 128) !important;
}

.mat-calendar {
  background-color: var(--primary-dark) !important;
}

.mat-button-wrapper > * {
  color: white !important;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  background-color: white;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  display: flex;
  align-items: center;
  padding: 0!important;
}

.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button{
  border: unset;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top: grey 0.04em solid;
  border-right: grey 0.04em solid;
  border-bottom: grey 0.04em solid;
  height: 42px!important;
}

.mat-form-field-infix {
  padding: 0 0!important;
}

.mat-form-field-appearance-fill .mat-form-field-flex{
  display: flex;
  align-items: flex-end;
}

.mat-form-field-wrapper{
  padding-bottom: 0px!important;
}

.mat-form-field-underline{
  width: 0%!important;
}

mat-button-toggle:hover {
  background-color: red;
}
