<!-- <form (ngSubmit)="onSubmit(form)" #form="ngForm"> -->

<form (ngSubmit)="saveTask(form)" #form="ngForm">
  <div class="sectionOne">
    <!-- task title -->
    <div class="title">
      <input placeholder="Title*" [(ngModel)]="task.title" name="taskTitle">
    </div>

    <div class="description">
      <textarea placeholder="Things to-do ..." [(ngModel)]="task.description" name="taskDescription">
            </textarea>
    </div>
  </div>

  <div class="sectionTwo">
    <mat-form-field class="datePicker example-full-width" appearance="fill">
      <mat-label *ngIf="!taskservice.editMode">Choose a Due Date</mat-label>
      <mat-label *ngIf="taskservice.editMode">editmode</mat-label>
      <input [min]="minDate" matInput [(ngModel)]="task.dueTo" name="taskDueDate" required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [startAt]="date" #picker></mat-datepicker>
    </mat-form-field>

    <div class="urgency">
      <label for="low" [class.activeButton]="activeUrgency == 'low'" (click)="setUrgencyButtonColor('low')">Low</label>
        <input id="low" type="radio" value="low" name="taskUrgency" [ngModel]="task.urgency" >

      <label for="normal" [class.activeButton]="activeUrgency == 'normal'" (click)="setUrgencyButtonColor('normal')">Normal</label>
        <input id="normal" type="radio" value="normal" name="taskUrgency" [ngModel]="task.urgency" >

      <label for="urgent" [class.activeButton]="activeUrgency == 'urgent'" (click)="setUrgencyButtonColor('urgent')">Urgent</label>
        <input id="urgent" type="radio" value="urgent" name="taskUrgency" [ngModel]="task.urgency" >
    </div>

    <div class="category">
      <select #catSelect  [ngModel]="task.category||''" name="taskCategory" required>
        <option *ngIf="customCategory == ''" value="">Choose a category*</option>
        <option value="Custom Category"> Add Category</option>
        <option *ngFor="let category of db.categories" value={{category}}>{{ category }} </option>
      </select>

      <div *ngIf="openCategoryPopUp" class="categoryPopUp">
        <label for="category">New Category</label>
        <input #inputCat="ngModel" minlength="3" [(ngModel)]="customCategory" type="text" name="taskCustomCategory">
        <div *ngIf="inputCat.errors?.['minlength']">
          Name must be at least 3 characters long.
        </div>
        <button (click)="addCustomCategory()">save</button>
        <button (click)="closeCustomCategory()">cancel</button>
      </div>
    </div>

    <div class="user">
      <select [ngModel]="task.users ||''" name="taskUser">
        <option value="">Select Responsibility*</option>
        <option *ngFor="let user of db.users" [ngValue]="user"> {{user.firstName}} {{user.lastName}}</option>
      </select>

    </div>

    <div>
      <button type="submit" [disabled]="!form.valid" class="button">Save</button>
      <button *ngIf="taskservice.taskPopupOpen" (click)="closeWithoutSave()" class="button btn-cancel">
        Cancel
      </button>
    </div>

  </div>
</form>
