:host {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 12px;
    min-width: 380px;
    border-radius: 12px;
    margin-top: 12px;
    padding: 32px 54px;
    border-color: #d2ddef !important;

    @media only screen and (max-width: 400px) {
        min-width: unset;
    }
}

mat-datepicker-toggle-default-icon ng-star-inserted{
    fill: black!important;
}

.headline {
    position: relative;
    margin-bottom: 32px;
    color: var(--accent1);

    &::after {
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        width: 65%;
        height: 0.04rem;
        background-color: lightgrey;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 380px;
    height: fit-content;
    gap: 18px;
    border-radius: 12px;

    @media only screen and (max-width: 1000px) {
        min-width: unset;
    }
}

::placeholder {
    color: rgba(128, 128, 128, 0.581);
    font-size: 14px !important;
}

.borderRadiusAdjust {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

input,
select {
    font-size: 14px !important;
    width: 100%;
    height: 42px;
    background-color: transparent;
    border: unset;
    border-radius: 6px;
}

input {
    padding: 0px 12px;
}

select {
    box-shadow: rgba(117, 117, 117, 0.02) 0px 1px 3px 0px, rgba(101, 110, 118, 0.15) 0px 0px 0px 1px;
}

button {
    font-size: 14px;
}

.demo-inline-calendar-card {
    width: 300px;
}

.title {
    background-color: transparent;
}

.description {
    flex: 1;

    textarea {
        font-size: 14px;
        padding: 12px;
        resize: none;
        height: 100%;
        width: 100%;
        border: unset;
        background-color: transparent;
    }
}

// ********  CHECKLIST Items / TODOS with checkboxes *******//
.todoItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
    width: 100%;

    // left side
    .itemsHeadline {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;

        span {
            margin-right: 8px;
            font-size: 14px;
        }

        .inputWrap {
            flex: 1;
            width: 100%;
        }

        input {
            display: flex;
            justify-content: flex-end;
            padding: 0px 8px !important;
            align-items: flex-end !important;
            height: 21px;
            padding-bottom: 0px;
            border-radius: 0px;
            border-bottom: 1px solid lightgrey;

            &::placeholder {
                margin-left: 20px;
            }
        }
    }

    // buttons add and cancel new Todos (Checklist)

    .default-btn {
        display: flex;
        gap: 0.2em;

        .btn-icon {
            width: 24px;
            height: 24px;
        }
    }
    // add new todo item to checklist
    .btn-add {
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-image: url(../../assets/img/add.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        cursor: pointer;
    }

    .btn-clear {
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-image: url(../../assets/img/cancel.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        cursor: pointer;
    }
}

// contains checklist items
.itemsContainer {
    width: 100%;
    max-height: 80px;
    overflow: auto;
    margin-top: 8px;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        overflow-x: auto;
    }

    label {
        overflow-x: hide;
        font-size: 12px;
    }

    // Checkbox active and disabled
    input[type="checkbox"] {
        padding: 0px 0px;
        height: 12px !important;
        width: 12px !important;
        min-height: 12px;
        min-width: 12px;
        margin-right: 0.4rem;
        border: solid black 0.1em;
        border-radius: 12%;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;

        &:disabled {
            background-color: rgba(141, 139, 139, 0.119);
        }

        &:checked {
            background-color: rgba(35, 14, 28, 0.654);
        }
    }
}

.urgency {
    display: flex;
    justify-content: space-between;
    width: 100%;

    input {
        width: 33%;
        padding: 2px 14px;
        border: none;
        display: none;
    }

    label {
        display: flex;
        width: 30%;
        height: 26px;
        font-size: 14px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: none;
        background-color: var(--bg);
        box-shadow: rgb(117 117 117 / 2%) 0px 1px 3px 0px, rgb(101 110 118 / 15%) 0px 0px 0px 1px;
        cursor: pointer;
    }

    img {
        width: 14px;
        height: 14px;
        margin-right: 8px;
        filter: opacity(0.7);
    }
}

.activeButton {
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
    border-radius: 6px;
}

.datePicker {
    width: 100%;
    border-radius: 6px;
}

.user {
    width: 100%;

    select {
        width: 100%;
        padding: 4px;
        border: none;
        border-radius: 6px;
    }
}

.category {
    position: relative;
    width: 100%;

    select {
        width: 100%;
        padding: 4px;
        border-radius: 6px;
    }

    .categoryPopUp {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 0px;
        left: 0px;
        right: 0;
        bottom: 0px;
        border-radius: 6px;
        background-color: white;
        font-size: var(--font-small);

        input {
            flex: 1;
            padding-left: 8px;
        }

        button {
            height: 100%;
            width: 76px;
            padding-left: 4px;
            padding-right: 4px;
            font-size: var(--font-small);
            color: var(--primary-light);
            border: unset;
            background-color: var(--accent1);
            cursor: pointer;

            &:disabled {
                background-color: var(--bg-light);
                color: var(--primary-dark);
            }
        }

        button:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        button:last-child {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;

            // when cancel button becomes less prominent
            &.secondary {
                background-color: var(--bg-light) !important;
                border-color: var(--accent1) !important;
                color: var(--accent1);
            }
        }
    }
}

//  BUTTONS
.addTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-style: italic;

    @media only screen and (max-width: 1000px) {
        flex-wrap: wrap;
    }
}

.containerLeft {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    span {
        font-size: 14px;
        white-space: nowrap;
        margin-left: 8px;
    }
}

.selectSave {
    border: none;
    box-shadow: none;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
}

// two main buttons
.buttons {
    display: flex;
    gap: 12px;

    img {
        width: 14px;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        border: none;
        border-radius: 6px;
        width: 124px;
        height: 36px;
        background-color: var(--accent1);
        cursor: pointer;

        span {
            font-weight: 500;
            color: var(--primary-light);
        }
    }

    button:disabled {
        background-color: var(--bg);

        color: var(--accent1);
        border: 1px solid currentColor;

        span {
            color: var(--accent1);
        }
    }

    .btn-save {
        img {
            filter: invert(100%);
        }

        &:disabled img {
            filter: invert(13%) sepia(95%) saturate(6340%) hue-rotate(307deg) brightness(100%) contrast(102%);
        }
    }

    .btn-cancel {
        background-color: unset !important;
        cursor: pointer;

        span {
            color: var(--primary-dark) !important;
            font-weight: unset;
        }
    }

    .btn-clear {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background-color: unset;
        border: none;
        cursor: pointer;

        img {
            width: 12px;
            height: 12px;
        }
    }
}
