:host {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: 12px;
    min-width: 380px;
    border-radius: 12px;
    margin-top: 12px;
    padding: 32px 54px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-color: #d2ddef !important;
}

.headline {
    position: relative;
    margin-bottom: 32px;
    color: var(--accent1);

    &::after{
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        content:'';
        width: 65%;
        height: 0.04rem;
        background-color: lightgrey;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-width: 380px;
    height: fit-content;
    gap: 18px;
    border-radius: 12px;
}
::placeholder {
    color: rgba(128, 128, 128, 0.581);
    font-size: 14px !important;
}

.borderRadiusAdjust {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

input,
select {
    font-size: 14px !important;
    width: 100%;
    height: 42px;
    background-color: transparent;
    border: unset;
    border-radius: 6px;
}

input {
    padding: 0px 12px;
}

select {
    box-shadow: rgba(117, 117, 117, 0.02) 0px 1px 3px 0px, rgba(101, 110, 118, 0.15) 0px 0px 0px 1px;
}

button {
    font-size: 14px;
}

.demo-inline-calendar-card {
    width: 300px;
}

.title {
    background-color: transparent;
}

.description {
    flex: 1;

    textarea {
        font-size: 14px;
        padding: 12px;
        resize: none;
        height: 100%;
        width: 100%;
        border: unset;
        background-color: transparent;
    }
}

// ********  CHECKLIST Items / TODOS with checkboxes *******//
.todoItems {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 12px;
    width: 100%;

    // left side
    .itemsHeadline {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 100%;

        span {
            margin-right: 8px;
            font-size: 14px;

        }

        .inputWrap {
            flex: 1;
            width: 100%;
        }

        input {
            display: flex;
            justify-content: flex-end;
            padding: 0px 0px !important;
            align-items: flex-end !important;
            height: 21px;
            padding-bottom: 0px;
            border-radius: 0px;
            border-bottom: 1px solid lightgrey;

            &::placeholder {
                margin-left: 20px;
            }
        }
    }

    // buttons add and cancel new Todos (Checklist)

    .default-btn {
        display: flex;
        gap: 0.2em;

        .btn-icon {
            width: 24px;
            height: 24px;
        }
    }
    // add new todo item to checklist
    .btn-add {
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-image: url(../../assets/img/add.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        cursor: pointer;
    }

    .btn-clear {
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        background-image: url(../../assets/img/cancel.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        cursor: pointer;
    }
}

// contains checklist items
.itemsContainer {
    width: 100%;
    max-height: 80px;
    overflow: auto;
    margin-top: 8px;

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        overflow-x: auto;
    }

    label {
        overflow-x: hide;
        font-size: 12px;
    }

    input[type="checkbox"] {
        height: 14px !important;
        width: 14px !important;
        min-height: 14px;
        min-width: 14px;
        margin-right: 0.4rem;
        border-radius: 12%;

        &:checked {
        }
    }
}

.urgency {
    display: flex;
    justify-content: space-between;
    // gap: 12px;
    width: 100%;

    input {
        width: 33%;
        padding: 2px 14px;
        border: none;
        display: none;
    }

    label {
        display: flex;
        width: 30%;
        height: 26px;
        font-size: 14px;
        text-align: center;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: none;
        background-color: var(--bg);
        box-shadow: rgb(117 117 117 / 2%) 0px 1px 3px 0px, rgb(101 110 118 / 15%) 0px 0px 0px 1px;
    }

    img {
        width: 14px;
        height: 14px;
        margin-right: 8px;
        filter: opacity(0.7);
    }
}

.activeButton {
    // background-color: var(--accent1) !important;
    // color: var(--primary-light);
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff !important;
    border-radius: 6px;

    // img{
    //     filter: invert(1);
    // }
}

.datePicker {
    width: 100%;
    border-radius: 6px;
}

.user {
    width: 100%;

    select {
        width: 100%;
        padding: 4px;
        border: none;
        border-radius: 6px;
    }
}

.category {
    position: relative;
    width: 100%;

    select {
        width: 100%;
        padding: 4px;
        border-radius: 6px;
    }

    .categoryPopUp {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 0px;
        left: 0px;
        right: 0;
        bottom: 0px;
        border-radius: 6px;
        background-color: white;
        font-size: var(--font-small);

        input {
            flex: 1;
            padding-left: 8px;
        }
        button {
            height: 100%;
            width: 76px;
            padding-left: 4px;
            padding-right: 4px;
            font-size: var(--font-small);
            color: var(--primary-light);
            border: unset;
            background-color: var(--accent1);

            &:disabled {
                background-color: var(--bg-light);
                color: var(--primary-dark);
            }
        }

        button:first-child {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }

        button:second-child {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}

// MAIN SAVE BUTTON
.addTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    font-style: italic;
}

.selectSave {
    width: 100px !important;
    max-width: 100%;
    border: none;
    box-shadow: none;
    text-decoration: underline;
    font-style: italic;
}

// two main buttons
.buttons {
    display: flex;
    gap: 12px;

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        border: none;
        border-radius: 6px;
        width: 124px;
        height: 36px;
        background-color: var(--accent1);

        span {
            color: var(--primary-light);
            font-weight: 500;
        }

        img {
            filter: invert(1);
        }
    }

    button:disabled {
        background-color: var(--bg);
        color: var(--primary-dark);
        border: 1px solid var(--accent1);

        span {
            color: var(--accent1);
        }

        img {
            filter: invert(0);
        }
    }

    .btn-cancel {
        background-color: unset !important;

        span{
            color: var(--primary-dark)!important;
            font-weight: unset; 
        }
        img{
            filter: none;
        }
    }

    .btn-clear {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6px;
        background-color: unset;
        border: none;
        
    }

    img {
        width: 12px;
        height: 12px;
    }
}
