<!-- <form (ngSubmit)="onSubmit(form)" #form="ngForm"> -->
  <h3  *ngIf="!taskservice.editMode && (router.url.includes('backlog') || router.url.includes('board'))" class="headline">Add New Task</h3>
  <h3  *ngIf="taskservice.editMode && (router.url.includes('backlog') || router.url.includes('board'))" class="headline">Edit Task</h3>

<form (ngSubmit)="saveTask(form)" #form="ngForm">

  <div class="sectionOne">
    <!-- task title -->
    <div class="title concave">
      <input placeholder="Title*" [(ngModel)]="task.title" name="taskTitle">
    </div>

    <div class="description concave">
      <textarea placeholder="Task Description" [(ngModel)]="task.description" name="taskDescription">
            </textarea>
    </div>
  </div>

  <div class="sectionTwo">
    <mat-form-field class="datePicker example-full-width" appearance="fill">
      <!-- <label *ngIf="!taskservice.editMode">Choose a Due Date</label>
      <label *ngIf="taskservice.editMode">editmode</label> -->
      <input placeholder="Choose a Due Date" class="concave"[min]="minDate" matInput [(ngModel)]="task.dueTo" name="taskDueDate" required [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [startAt]="date" #picker></mat-datepicker>
    </mat-form-field>

    <div class="urgency">
      <label for="low" [class.activeButton]="activeUrgency == 'low'" class="default-btn" (click)="setUrgencyButtonColor('low')">Low</label>
        <input id="low" type="radio" value="low" name="taskUrgency" [(ngModel)]="task.urgency" >

      <label for="normal" [class.activeButton]="activeUrgency == 'normal'" class="default-btn" (click)="setUrgencyButtonColor('normal')">Normal</label>
        <input id="normal" type="radio" value="normal" name="taskUrgency" [(ngModel)]="task.urgency" >

      <label for="urgent" [class.activeButton]="activeUrgency == 'urgent'" class="default-btn" (click)="setUrgencyButtonColor('urgent')">Urgent</label>
        <input id="urgent" type="radio" value="urgent" name="taskUrgency" [(ngModel)]="task.urgency" >
    </div>

    <div class="category">
      <select  (change)="handleCustomCategory('checkIfCustomRequest', $event)" #catSelect [(ngModel)]="task.category" name="taskCategory" >
        <option *ngIf="customCategory == ''" value="">Choose a category*</option>
        <option value="Custom Category"> Add Category </option>
        <option *ngFor="let category of db.categories" value={{category}}>{{ category }}</option>
      </select>


      <div *ngIf="openCategoryPopUp" class="categoryPopUp">
        <input 
          #inputCat="ngModel" 
          minlength="3"
          maxlength="11"
          [(ngModel)]="customCategory" 
          type="text" 
          name="taskCustomCategory"
          placeholder="Custom Category"
          >
        <div 
          *ngIf="inputCat.errors?.['minlength'] || inputCat.errors?.['maxlength']"
          class="validatorCategory">
          Please use 3-10 characters.
        </div>

        <div>
          <button 
            (click)="handleCustomCategory('save', $event, form)" 
            [disabled]="!inputCat.value || inputCat.errors?.['minlength'] "
            class="default-btn">
            Save
          </button>
          <button 
            (click)="handleCustomCategory('close')"
            class="default-btn">
            Cancel
          </button>
        </div>      
          <!-- <div>
          <button (click)="addCustomCategory(catSelect.value)" [disabled]="!inputCat.value || inputCat.errors?.['minlength'] ">Save</button>
          <button (click)="closeCustomCategory()">Cancel</button>
        </div> -->
      </div>
    </div>

    <div class="user">
      <select [ngModel]="task.users ||''" required name="taskUser">
        <option value="">Select Responsibility*</option>
        <option *ngFor="let user of db.users; index as i" [ngValue]="user"> {{user.firstName}} {{user.lastName}} </option>
      </select>

      <!-- value={{task.users[i]}} -->
    </div>

    <div class="addTask">
     <div>
       <span>Add Task to</span>
       <select class="selectSave" (change)="handleCustomCategory('checkIfCustomRequest', $event)" [(ngModel)]="task.board" name="boards" >
        <option selected value="backlog">Backlog</option>
        <option *ngFor="let board of db.boards" value={{board}}>{{ board }}</option>
           </select>
     </div>

      <div class="buttons">
        <button
          type="submit"
          [disabled]="!form.valid"
          class="button default-btn"
          >
          Save
        </button>
        <button
          *ngIf="taskservice.taskPopupOpen"
          (click)="closeWithoutSave()"
          class="button btn-cancel default-btn">
          Cancel
        </button>
      </div>
    </div>

  </div>
</form>
