:host {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 44px;
    padding: 44px;
    border-radius: 12px;
}

.sectionOne {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    gap: 12px;
}

.sectionTwo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    height: 100%;
    gap: 12px;
}

.demo-inline-calendar-card {
    width: 300px;
}

.title {
    // border: 1px black solid;
    background-color:transparent;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

    input {
        width: 100%;
        min-height: 100%;
        background-color: transparent;
        border: unset;
        padding: 12px;

        &::placeholder {
            font-size: 16px;
        }
    }
}
// border: 1px solid darkgrey;
.description {
    flex: 1;
    border-radius: 12px;
    // border: 1px black solid;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

    textarea {
        resize: none;
        height: 100%;
        border: unset;
        width: 100%;
        background-color: transparent;
        padding: 12px;

        &::placeholder {
            font-size: 16px;
        }
    }
}

.urgency {
    display: flex;
    gap: 12px;
    width: 100%;

    button {
        width: 33%;
        padding: 8px 16px;
        border-radius: 6px;
        border: none;
    }
}

.activeButton {
    background-color: var(--accent1);
}

.datePicker {
    width: 100%;
    border-radius: 12px;
}

.user {
    width: 100%;

    select {
        width: 100%;
        padding: 4px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        border-radius: 6px;
    }
}

.category {
    position: relative;
    width: 100%;

    select {
        width: 100%;
        padding: 4px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
        border-radius: 6px;
    }

    .categoryPopUp {
        position: absolute;
        top: -20px;
    }
}

// save-Button
.button {
    border: none;
    border-radius: 12px;
    font-size: 16px;
    width: 100%;
    padding: 8px 84px;
    cursor: pointer;
}

button:disabled {
    background-color: orange;
}

.btn-cancel {
    background-color: unset;
}
